.navbar {
    background-color: #555;
}

.navbar:hover {
    background-color: #333;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    position: relative; 
    padding: 15px 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-links a:hover {
    background-color: #bdbbbb;
}


.dropdown-menu {
    display: none;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 10;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -10px;
}

.dropdown-menu li a {
    padding: 10px;
    color: black;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}
