header {
    padding: 15px 30px;
    background-color: #f9e2c8;
    border-bottom: 2px solid #e4b48c;
    display: flex;
    align-items: center;
    gap: 10px;
}

header img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

nav {
    background-color: #fff3e0;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px solid #e4b48c;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: brown;
    background-color: #f28c8c;
    font-weight: bold;
    margin: 0 10px;
    border-radius: 12px;
    padding: 6px 12px;

}

main section {
    background-color: #fff8ee;
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 100%;
    text-align : center;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

footer {
    background-color: #f9e2c8;
    padding: 15px;
    border-top: 2px solid #e4b48c;
    text-align: center;
    
}